@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --black: #080325;
    --white: #FFFFFF;
    --active-black: #191A38;
    --neutural-10: #FFFFFF;
    --neutural-20: #F8FAFC;
    --neutural-30: #E9EDF2;
    --neutural-40: #E2E8F0;
    --neutural-50: #CBCFD5;
    --neutural-60: #A4A9B0;
    --neutural-70: #79808A;
    --neutural-80: #5B6776;
    --neutural-90: #344055;
    --neutural-100: #121212;
    --icon-default: #64748B;
    --icon-disabled: #94A3B8;
    --icon-white: #FFFFFF;
    --violet-100: #FFFFFF;
    --violet-200: #F7F8FD;
    --violet-300: #B8B6F7;
    --violet-400: #8880E5;
    --violet-500: #4F46E5;
    --violet-600: #473FCE;
    --violet-700: #3821C0;
    --violet-800: #120563;
    --violet-900: #080325;
    --sweet-orange-bg: #EFB2B2;
    --sweet-orange-mn: #F93939;
    --cherry-bg: #ECA6BF;
    --cherry-mn: #ED1865;
    --wisteria-bg: #C7A1EC;
    --wisteria-mn: #6B19F1;
    --aster-bg: #90A5EE;
    --aster-mn: #6583EF;
    --torque-bg: #8DD6ED;
    --torque-mn: #0D99C5;
    --error-500: #D1493D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

a {
    text-decoration: none;
    color: var(--neutural-10);
}

body {
    display: flex;

    aside {
        max-width: 300px;
        min-height: 984px;
        background-color: var(--black);
        padding: 0 18px 32px 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        nav {
            width: 264px;

            header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 32px 0px;

                .logo {
                    width: 153px;
                    height: 53.44px;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center center;
                    }
                }

                .btn {
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    background-color: var(--violet-500);
                    border: none;
                    display: flex;
                    cursor: pointer;
                    transition: background-color .1s ease-in;

                    img {
                        width: 18px;
                        height: 18px;
                        margin: auto auto;
                    }

                    &:hover {
                        background-color: var(--violet-600);
                    }
                }
            }

            ul {
                width: 264px;
                height: 296px;
                list-style: none;

                li {
                    height: 72px;
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    position: relative;
                    border-radius: 4px;
                    overflow: hidden;

                    &.active {
                        background-color: var(--active-black);
                    }
                    
                    img {
                        width: 32px;
                        height: 32px;
                    }

                    a {
                        width: 100%;
                        height: 80px;
                        font-weight: 600;
                        transition: color .1s ease-in;
                        display: flex;
                        align-items: center;

                        &:hover {
                            color: var(--neutural-50);
                        }
                    }

                    .notification {
                        width: 24px;
                        height: 24px;
                        border-radius: 100%;
                        position: absolute;
                        right: 20px;
                        bottom: 22px;
                        background-color: var(--error-500);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        p {
                            color: var(--neutural-10);
                            font-size: 10px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        footer {
            .settings, .account {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 16px;
                padding: 20px;
                
                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 100%;
                    object-fit: cover;
                    object-position: center center;
                }

                a {
                    transition: color .1s ease-in;
                    font-weight: 600;

                    &:hover {
                        color: var(--neutural-60);
                    }
                }
            }

            .settings {
                border-bottom: 1px solid var(--neutural-90);
                a {
                    color: var(--neutural-50);
                }
            }
        }
    }

    main {
        min-width: calc(100% - 300px);
        max-height: 984px;

        header {
            width: 100%;
            height: 104px;
            padding: 36px 48px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid var(--neutural-40);
            
            .start {
                display: flex;
                gap: 24px;
                
                a {
                    :hover {
                        scale: 1.2;
                    }
                }
            }

            .container {
                min-width: calc(100% - 300px);
                max-height: 880px;
                display: flex;
                flex-direction: column;
                padding: 36px 0px 36px 48px;
    
                .title {
                    width: 100%;
                    height: 140px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
    
                    h1 {
                      color: var(--neutural-100);  
                    }
    
                    p {
                        color: var(--neutural-80);
                    }
                }
            }

            .end {
                a { 
                    :hover {
                        scale: 1.2;
                    }
                }
            }
        }
        
        .container {
            min-width: calc(100% - 300px);
            max-height: 880px;
            display: flex;
            flex-direction: column;
            padding: 36px 0px 36px 48px;
            overflow-y: scroll;
            scrollbar-width: thin;

            .title {
                width: 100%;
                height: 140px;
                display: flex;
                flex-direction: column;
                gap: 8px;

                h1 {
                  color: var(--neutural-100);  
                }

                p {
                    color: var(--neutural-80);
                }
            }

            .content {
                width: 100%;
                height: 740px;
                display: flex;
                flex-direction: column;
                gap: 24px;
                padding: 24px 48px 0 0;

               .finance-top {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 42px;
                border: 1px solid var(--violet-500);
                padding: 15px 24px;
                border-radius: 6px;
                background-color: var(--violet-200);

                p {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    color: var(--violet-500);

                    span {
                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }

                button {
                    background-color: transparent;
                    padding: 8px 16px;
                    color: var(--neutural-70);
                    border: 1px solid var(--neutural-40);
                    border-radius: 100px;
                    cursor: pointer;
                    transition: .2s ease-in-out;

                    &:hover {
                        background-color: var(--neutural-70);
                        color: var(--neutural-100);
                        border-color: transparent;
                    }
                }
               }

               .finance-top-disabled {
                display: none;
               }
                
               .finance-mid {
                display: flex;
                flex-direction: column;
                gap: 32px;

                .mid-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h1 {
                        color: var(--neutural-100);
                    }

                    .dropdowns {
                        display: flex;
                        gap: 12px;

                        select {
                            padding: 6px 12px;
                            border: 1px solid var(--neutural-40);
                            border-radius: 6px;
                            color: var(--neutural-90);
                        }
                    }
                }

                .incomeChart {
                    width: 100%;
                    height: 322px;
                }
               }

               .finance-bottom {
                display: flex;
                justify-content: center;
                gap: 40px;
                padding: 12px 48px;

                .item {
                    width: 321.33px;
                    height: 72px;
                    display: flex;
                    gap: 18px;
                    padding: 12px;
                    border: 1px solid var(--neutural-40);
                    border-radius: 6px;
                    transition: .2s ease-in-out;

                    img {
                        width: 48px;
                        height: 48px;
                    }

                    .info {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: start;

                        p {
                            font-size: var(--neutural-70);
                        }

                        h4 {
                            color: var(--neutural-90);
                        }
                    }

                    &:hover {
                        background-color: var(--violet-200);
                    }
                }
               }
            }
        }
    }
}