@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --black: #080325;
  --white: #ffffff;
  --active-black: #191a38;
  --neutural-10: #ffffff;
  --neutural-20: #f8fafc;
  --neutural-30: #e9edf2;
  --neutural-40: #e2e8f0;
  --neutural-50: #cbcfd5;
  --neutural-60: #a4a9b0;
  --neutural-70: #79808a;
  --neutural-80: #5b6776;
  --neutural-90: #344055;
  --neutural-100: #121212;
  --icon-default: #64748b;
  --icon-disabled: #94a3b8;
  --icon-white: #ffffff;
  --violet-100: #ffffff;
  --violet-200: #f7f8fd;
  --violet-300: #b8b6f7;
  --violet-400: #8880e5;
  --violet-500: #4f46e5;
  --violet-600: #473fce;
  --violet-700: #3821c0;
  --violet-800: #120563;
  --violet-900: #080325;
  --sweet-orange-bg: #efb2b2;
  --sweet-orange-mn: #f93939;
  --cherry-bg: #eca6bf;
  --cherry-mn: #ed1865;
  --wisteria-bg: #c7a1ec;
  --wisteria-mn: #6b19f1;
  --aster-bg: #90a5ee;
  --aster-mn: #6583ef;
  --torque-bg: #8dd6ed;
  --torque-mn: #0d99c5;
  --error-500: #d1493d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

a {
  text-decoration: none;
  color: var(--neutural-10);
}

body {
  display: flex;

  aside {
    max-width: 300px;
    min-height: 984px;
    background-color: var(--black);
    padding: 0 18px 32px 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    nav {
      width: 264px;

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 0px;

        .logo {
          width: 153px;
          height: 53.44px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
          }
        }

        .navbar-btn {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          background-color: var(--violet-500);
          border: none;
          display: flex;
          cursor: pointer;
          transition: background-color 0.1s ease-in;

          img {
            width: 18px;
            height: 18px;
            margin: auto auto;
          }

          &:hover {
            background-color: var(--violet-600);
          }
        }
      }

      ul {
        width: 264px;
        height: 296px;
        list-style: none;

        li {
          height: 72px;
          padding: 20px;
          display: flex;
          align-items: center;
          gap: 14px;
          position: relative;
          border-radius: 4px;
          overflow: hidden;

          &.active {
            background-color: var(--active-black);
          }

          img {
            width: 32px;
            height: 32px;
          }

          a {
            width: 100%;
            height: 80px;
            font-weight: 600;
            transition: color 0.1s ease-in;
            display: flex;
            align-items: center;

            &:hover {
              color: var(--neutural-50);
            }
          }

          .notification {
            width: 24px;
            height: 24px;
            border-radius: 100%;
            position: absolute;
            right: 20px;
            bottom: 22px;
            background-color: var(--error-500);
            display: flex;
            justify-content: center;
            align-items: center;

            p {
              color: var(--neutural-10);
              font-size: 10px;
              font-weight: 600;
            }
          }
        }
      }
    }

    footer {
      .settings,
      .account {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 20px;

        img {
          width: 32px;
          height: 32px;
          border-radius: 100%;
          object-fit: cover;
          object-position: center center;
        }

        a {
          transition: color 0.1s ease-in;
          font-weight: 600;

          &:hover {
            color: var(--neutural-60);
          }
        }
      }

      .settings {
        border-bottom: 1px solid var(--neutural-90);
        a {
          color: var(--neutural-50);
        }
      }
    }
  }

  main {
    min-width: calc(100% - 300px);
    max-height: 984px;

    header {
      width: 100%;
      height: 104px;
      padding: 36px 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--neutural-40);

      .start {
        display: flex;
        gap: 24px;

        a {
          :hover {
            scale: 1.2;
          }
        }
      }

      .end {
        a {
          :hover {
            scale: 1.2;
          }
        }
      }
    }

    .container {
      min-width: calc(100% - 300px);
      max-height: 880px;
      display: flex;
      flex-direction: column;
      padding: 36px 0px 36px 48px;

      .title {
        width: 100%;
        height: 140px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        h1 {
          color: var(--neutural-100);
        }

        p {
          color: var(--neutural-80);
        }
      }

      .content {
        min-height: 589px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        overflow-y: scroll;
        scrollbar-width: thin;

        .content-1 {
          width: 431px;
          height: 589px;
          display: flex;
          flex-direction: column;
          gap: 16px;

          .card-top {
            width: 100%;
            height: 51px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 13.5px 12px;
            border: 1px solid var(--neutural-40);
            border-radius: 6px;
            cursor: pointer;
            transition: 0.2s ease-in-out;

            img {
              width: 24px;
              height: 24px;
            }

            &:hover {
              background-color: var(--neutural-30);
            }
          }

          .card-mid {
            width: 100%;
            height: 376px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 18px 24px;
            background-color: var(--neutural-20);
            border: 1px solid var(--neutural-40);

            .card {
              max-width: 383px;
              max-height: 180px;
              position: relative;
              border-radius: 19px;

              h3 {
                position: absolute;
                bottom: 25px;
                left: 21px;
                color: var(--neutural-10);
                text-transform: uppercase;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
              }
            }

            .card-info {
              max-width: 383px;
              max-height: 136px;
              display: flex;
              flex-direction: column;
              gap: 16px;

              h3 {
                color: var(--neutural-100);
              }

              .info {
                width: 383px;
                height: 96px;
                display: flex;
                flex-direction: column;
                gap: 12px;

                p {
                  color: var(--neutural-90);
                  width: 100%;
                  display: flex;
                  justify-content: space-between;

                  span {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    img {
                      width: 14px;
                      height: 14px;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }

          .card-bottom {
            width: 100%;
            height: 130px;
            display: flex;
            padding: 24px 0 58px 24px;
            background-color: var(--violet-200);
            position: relative;

            .button {
              position: absolute;
              width: 56px;
              height: 56px;
              right: 18px;
              bottom: 14px;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 100%;
              background-color: var(--violet-500);
              transition: 0.2s ease-in-out;

              img {
                width: 32px;
                height: 32px;
              }

              &:hover {
                background-color: var(--violet-600);
              }
            }
          }
        }

        .content-2 {
          width: 589px;
          width: 589px;
          height: 589px;
          padding: 24px;
          display: flex;
          flex-direction: column;
          gap: 24px;
          border: 1px solid var(--neutural-40);
          border-radius: 6px;

          .card-top {
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
              color: var(--neutural-90);
            }

            img {
              width: 24px;
              height: 24px;
              cursor: pointer;
            }
          }

          .card-mid {
            height: 360px;
            display: flex;
            justify-content: center;
            align-items: center;

            ul {
              list-style: none;
              width: 100%;

              li {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 24px 16px;
                cursor: pointer;
                border-bottom: 1px solid var(--neutural-40);
                position: relative;
                transition: 0.2s ease-in-out;

                div {
                  width: 4px;
                  height: 48px;
                  position: absolute;
                  left: 0;
                  border-radius: 0 6px 6px 0;
                }

                p {
                  color: var(--neutural-90);
                }

                img {
                  width: 24px;
                  height: 24px;
                }

                &:hover {
                  background-color: var(--neutural-40);
                }
              }
            }
          }

          .card-bottom {
            a {
              color: var(--neutural-70);
              background-color: transparent;
              border: 1px solid var(--neutural-40);
              padding: 12px 24px;
              border-radius: 50px;
              transition: 0.2s ease-in-out;
              font-weight: 600;

              &:hover {
                background-color: var(--neutural-80);
                color: var(--neutural-100);
                border: 1px solid transparent;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1470px) {
  body {
    flex-direction: column;
    min-width: 100%;

    aside {
      min-width: 100%;
      min-height: 52px;
      padding: 14.5px 12px;
      gap: 32px;
      position: sticky;
      top: 0;
      z-index: 9999999;

      nav {
        width: 100%;

        header {
          padding: 4px 12px;
        }

        .links-inactive {
          display: none;
        }

        .links-active {
          width: 100%;
          justify-content: flex-end;
          margin-top: 24px;
          padding: 8px 16px;
        }
      }

      .navbar-footer-disabled {
        display: none;
      }

      .navbar-footer-enable {
        display: block;
        padding: 8px 16px;
      }
    }

    main {
      header {
        display: none;
      }

      .container {
        .content {
          justify-content: space-around;
          padding-right: 48px;
        }
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  body {
    main {
      .container {
        .content {
          flex-wrap: nowrap;
          flex-direction: column;

          .content-1 {
            width: 100%;

            .card-mid {
              height: auto;
              flex-direction: row;
              align-items: center;
            }
          }

          .content-2 {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 890px) {
  body {
    main {
      .container {
        .content {
          .content-1 {
            .card-mid {
              flex-direction: column;

              .card-info {
                scale: 0.8;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 890px) {
  body {
    main {
      .container {
        .content {
          .content-1 {
            .card-mid {
              flex-direction: column;

              .card-info {
                scale: 0.65;
              }
            }

            .card-bottom {
              .button {
                scale: 0.65;
              }
            }
          }

          .content-2 {
            .card-top {
              h1 {
                font-size: 24px;
              }
            }

            .card-mid {
              ul {
                li {
                  p {
                    font-size: 13px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  body {
    main {
      .container {
        .content {
          .content-1 {
            .card-mid {
              flex-direction: column;

              .card {
                h3 {
                  font-size: 12px;
                  left: 10px;
                  bottom: 20px;
                }
              }

              .card-info {
                scale: 0.5;
              }
            }

            .card-bottom {
              padding-right: 12px;
              .button {
                scale: 0.5;
                bottom: 5px;
                right: 5px;
              }
            }
          }

          .content-2 {
            .card-mid {
              ul {
                li {
                  p {
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
